/* This margin and padding applies to all html elements.*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

/* The main header element, the background picture is the first image that apears on the home page.
This is the main picture that has to grab our viewer's attention.*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)),url(img/eng2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*----------------------------------------------------------NAV BAR STYLES-------------------------------------------------------------------*/
/* Using flexbox to easily align the elements in our nav bar.
In addition to responsiveness, flexbox also allows us tp space out our content in a way that requires little css.
*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/*Adjusting the size of the logo*/
nav img {
    width: 150 px;
}

/* The following flex properties are what allows the links to be on the right side of the screen.
Using flex 1 only permits us to use one row.
*/
.nav-links {
    flex: 1;
    text-align: right;
}

/*Applying styles to the ul and li.
The inline block property allows us to position our links horizontally.
*/

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#header-logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

/*Styling our anchor tags*/
/*Removing the underlining and colour of the anchor tags in our links*/

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*Adding the hover effect using the pseudo classes after and hover*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #496400;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/*----------------------------------------------------------PAGE HEADING, TEXT, AND BUTTON STYLES-------------------------------------------------------------------*/
/*Styling the main text and header to appear at the center*/

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin:10px 0 40px;
    font-size: 14px;
    color: white;
}

/*Styling the button*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/*Adding the button hover effect*/
.hero-btn:hover{
    border: 1px solid #496400;
    background: #a81ac4cc;
    transition: 1s;
}

/*Adding media queries so that the website the main header can be viewed on a small screen.
*/

/*Hiding menue icons on large screens.*/
nav .f1{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    #header-logo{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #496400;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .f1{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 24px;
        cursor: pointer; 
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*---------------------------Details--------------------------*/

.details{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*Styling the columns to apear in a row */
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.details-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.details-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*Adding media queries for responsiveness on small screens.*/

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-------------------------Venues Styling--------------------*/

.venues{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.venues-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.venues-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(168, 26, 196, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*----------------------------------Accomodation----------------------------*/

.accomodation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.accomodation-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.accomodation-col img{
    width: 100%;
    border-radius: 10px;
}

.accomodation-col p{
    padding: 0;
}

.accomodation-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-------Call to action---------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/cake.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*-------------------------------MUSIC----------------------------------------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), url(img/cover2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff
}

.sub-header h1{
    margin-top: 100px;
}

.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), url(img/wat.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff
}

.sub-header2 h1{
    margin-top: 100px;
}

.sub-header3{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), url(img/heart.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff
}

.sub-header3 h1{
    margin-top: 100px;
}

.music{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.music-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.music-col img{
    width: 100%;
}

.music-col h1{
    padding-top: 0;
}

.music-col p{
    padding: 15px 0 25;
}

.red-btn {
    border: 1px solid #496400;
    background: transparent;
    color: #496400;
}

.red-btn:hover{
    color: #fff;
}

/*--------------------------------Story content--------------------------------*/

.story-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.story-left{
    flex-basis: 65%;
}

.story-left img{
    width: 100%;
}

.story-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.story-left p{
    color: #999;
    padding: 0;
}

 .story-right{
    flex-basis: 32%;
 }

 .story-right h3{
    background: #496400;
    color: #fff;
    padding: 7px 0;
    font-size: 20px;
    margin-bottom: 20px;

 }
 .story-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
 }

 @media(max-width:700px){
    .sub-header h1{
       font-size: 24px; 
    }
 }

  /*-------------RSVP page---------------*/

  .location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
  }

  .location iframe{
    width: 100%;
  }

  .RSVP{
    width: 80%;
    margin: auto;
  }

  .RSVP-col{
    flex-basis: 48%;
    margin-bottom: 30px;
  }

  .RSVP-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .RSVP-col div .icons{
    font-size: 28px;
    color: #496400;
    margin: 10px;
    margin-right: 30px;
  }

  .RSVP-col div p{
    padding: 0;
  }

  .RSVP-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
  }

  .RSVP-col input, .RSVP-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
